/* css reset */
body{
    margin: 0;
    background-color: #7490d0;
    font-family: 'Arial', "微软雅黑";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.mobile {
    width: 350px;
    height: 676px;
    background-color: #0f1115;
    border: 1px solid #6b6c73;
    box-shadow: 0 0 0 1px #b3bbe6;
    border-radius: 15px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

.handset {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    top: 0;
    text-align: center;
}

.handset span {
    width: 60px;
    height: 6px;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-top: 16px;
}

.screen {
    width: 280px;
    height: 520px;
    margin: 40px auto 0;
    background-color: #fff;
    padding: 20px;
    overflow: scroll;
}

.home {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    text-align: center;
}

.home .btn {
    width: 42px;
    height: 42px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 21px;
    display: inline-block;
    margin-top: 10px;
}

.home .btn .square {
    width: 15px;
    height: 15px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 3px;
    display: inline-block;
    margin-top:12px;
}

.list .item{
    margin-bottom: 15px;
    cursor: pointer;
}

.list .title {
    display: block;
    background: rgba(0,0,0,.8);
    padding: 12px 0 12px 30px;
    position: relative;
}

.list .title:before {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left: 8px solid #fff;
    position: absolute;
    left: 8px;
    top: 15px;
}

.list .expend:before {
    border: 6px solid transparent;
    border-top: 8px solid #fff;
    top: 15px;
}

.panel {
    background: rgba(0,0,0,.8);
    color: #fff;
}

.panel li {
    padding: 10px 0 10px 25px;
}


